.App-header {
    background-image:url("./assets/portadasi.JPG");
    background-size: 90% 100%;
    background-repeat: no-repeat;
	height: 10rem;
	text-align: center;
	font-size: 3rem;
}

.div-header {
    position: relative;
}

.form-buscar {
    position: absolute;
    bottom: 0rem;
    right: 15%;
}