:root {
	--oscuro: #0e1116;
	--azulMar: #374a67;
	--morado: #616283;
	--rosa: #9e7b9b;
	--lavanda: #cb9cf2;
}

.App-header {
    background-image:url("./assets/portadasi.JPG");
    background-size: 80% 100%;
    background-repeat: no-repeat;
	height: 10rem;
	text-align: center;
	font-size: 3rem;
}

.div-header {
    position: relative;
}

.form-buscar {
    position: absolute;
    bottom: 0rem;
    right: 20%;
}
.card-holder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: var(--oscuro);
	justify-content: space-evenly;
	padding-top: 2rem;
	min-height: 100%;
}

.card {
	margin: 1rem;
	padding: 2rem;
	font-size: 0.7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 10rem;
	height: 12rem;
	background-color: var(--morado);
	box-shadow: .1rem .1rem .6rem var(--rosa);
	border-radius: .5rem;
}

.card:hover {
	box-shadow: .1rem .1rem 2rem var(--lavanda);
}

.cardTitle {
	color: aliceblue;
	text-decoration:underline;
	font-weight: 700;
}

.cardVar {
	color: aliceblue;
}
.cuerpo{
    display: flex;
    flex-direction: row;
}
